@import "varsandmixins";

/* ---------------------- Preparing styles */

html,
body,
div,
header,
section,
footer,
form {
    margin: 0;
    padding: 0;
}

// For browsers without HTML5 support
html,
main,
section,
footer {
    display: block;
}

// To prevent Safari from scale text in iphone
html {
    -webkit-text-size-adjust: 100%;
}


/* height to 100%, margin to 0% to create sticky footer */

html {
    height: 100%;
}

body {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    min-height: 100%;
    width: 100%;
    font-size: 16px;
    background: $red;
    font-family: $text-font;
}

.wrapper {
    // @include flexbox;
    @include flex-center;
    /* flex-grow 1 to create sticky footer for flexbox*/
    @include flex-grow(1);
    @include flex-direction(column);
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: $red;
    table-layout: fixed;
    position: relative;
}

// Styles for logo
#joanna {
    @include flexbox;
    height: 3em;
    width: 50%;
    margin: 0 auto;
    margin: 1.5em 0.5em 0.5em;
    z-index: 9;
    display: none;
    @include breakpoint(large) {
        display: inherit;
    }
}

header {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include transparent-backgound($red, 0.9);
    width: 100vw;
    margin: 0 auto;
    z-index: 100;
    padding-bottom: 1.5em;
    position: fixed;
    top: 0;
    // @include breakpoint(medium) {
    //     width: 100vw;
    // }
}

.logo {
    @include flexbox;
    @include flex-direction(row);
    margin-bottom: -1.5em;
}

header h1 {
    @include flexbox;
    @include head-1;
    font-weight: 100;
    margin: 0;
    width: 100%;
    padding: 0.5em 0 0;
    text-align: center;
    @include breakpoint(large) {
        width: 50%;
        padding: 0.5em;
    }
}

h2 {
    color: $celeste;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $celeste;
    text-align: center;
    margin: 0;
}

#displayMovies,
#displayMoviesByGenre {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    z-index: 10;
    background: $red;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 2em;
    @include breakpoint(large) {
        width: 90vw;
    }
}

#displayNewMovie {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    margin: 0 auto;
    margin-top: -16em;
    margin-bottom: 3em;
    z-index: 1;
}

.selectElems {
    @include flex-center;
    @include flex-direction(column);
    margin: 0;
    padding: 1em;
}

button,
.nav_link,
.submit {
    padding: 0.5em 1em 0.5em;
    font-size: 0.7em;
    margin: 0 0.5em 0.5em;
    background: $red;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    text-decoration: none;
    @include border-radius (5px);
    &:hover {
        color: $celeste;
        border: 2px solid $celeste;
    }
    @include breakpoint(medium) {
        font-size: 1em;
    }
}

.submit {
    margin: 0.7em 0 0.5em;
}

.five {
    margin-right: 0.5em;
}

.header_nav {
    @include flex-center;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    padding: 1em;
}

.displayMovieDiv {
    @include flex-center;
    @include flex-direction(column);
}

.addMovieSection,
#editMovieForm {
    @include flex-center;
    @include flex-direction(column);
    margin-top: 22em;
    width: 80vw;
    padding: 3em;
    border: 10px solid $celeste;
    @include breakpoint(small) {
        margin-top: 17em;
    }
    @include breakpoint(medium) {
        margin-top: 21em;
    }
    @include breakpoint(large) {
        margin-top: 20em;
    }
}

#addMovieSec {
    z-index: 99;
}

.addGenresDiv {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    font-size: 0.9em;
    margin: -1.5em 0 0;
}

#addForm {
    @include flexbox;
    @include flex-direction(column);
    padding: 1em 3em 1em;
}

.addGenresDiv label {
    @include flex-center;
}

#addGenre,
#rmvGenre {
    margin: 0 0 2em;
}

#selMovElem {
    margin: 1em 0 0;
}

#movToEdit {
    margin: 0.5em;
    color: $celeste;
}

.genres {
    @include flexbox;
    margin: 0 1em 0 0.5em;
}

#ratings {
    width: 5em;
}

select,
input {
    border: 1.5px solid $celeste;
    // margin: 1em;
}

#addMovieBtn {
    @include flex-center;
    @include align-self(center);
    width: 10em;
    margin: 1.5em 0 0.5em;
}

#addForm label {
    margin: 1em 0 0.5em;
    font-size: 1.2em;
    color: black;
}

.movieDiv,
.NewMovieDiv {
    @include flexbox;
    @include flex-direction(row);
    background: white;
    @include transparent-backgound(white, 0.2);
    border: 10px solid $celeste;
    margin-bottom: 1.5em;
    padding: 1em;
    // width: 80vw;
    &:first-child {
        margin-top: 20em;
    }
    &:last-child {
        margin-bottom: -18em;
    }
    @include breakpoint(medium) {
        padding: 3em;
    }
}

.movieDiv p,
.NewMovieDiv p {
    margin: 0 0 0.5em;
}

.NewMovieDiv {
    margin-bottom: -13em;
}

.movieElems {
    @include flexbox;
    @include flex-direction(column);
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    margin: 0.5em;
}

.movieImg {
    display: none;
    @include breakpoint(medium) {
        display: inherit;
        @include flexbox;
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
        height: 15em;
        align-content: flex-end;
        & :first-child {
            margin-left: auto;
            width: 11em;
        }
    }
}

.hideLogo {
    display: none;
}